@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Ubuntu:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid red; */
}

:root {
	--neutral-w: #ffffff;
	--neutral-b: #000000;
	--text-sub1: #676767;
	--text-sub2: #868686;
	--text-highlight: #464646;
	--bg: #f7f8fc;
	--overlay-1: #eceff8;
	--overlay-2: #dedef2;
	--overlay-3: #5a76e7;
	--overlay-4: #7781a6;
}

html {
	line-height: 1.5;
	height: 100vh;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	/* Disables horizontal scroll */
	overflow-x: hidden;
}

body {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: 18px;
	background: var(--bg);
}

body,
#root,
.App {
	height: 100%;
}

/* Global Styles */

a {
	color: inherit;
	text-decoration: none;
}

input,
select {
	display: block;
}

button {
	display: block;
	outline: 0;
	border: 0;
	background: none;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	font-weight: 400;
}

h1,
h2,
h3 {
	margin: 0.5rem 0rem;
}

h2,
h3 {
	font-weight: 400;
}

pre {
	background: var(--overlay-4);
	color: var(--neutral-w);
	width: 80%;
	padding: 0.5rem 0.5rem;
}

code {
	font-family: 'Ubuntu', sans-serif;
}

li {
	list-style: none;
}

/* Common Elements */
.App {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.page {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.w-box {
	background: var(--neutral-w);
	padding: 2rem;
	border-radius: 1rem;
}

.nav {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

.profile {
	display: flex;
	align-items: center;
	font-size: small;
}

.avatar {
	border-radius: 50%;
	margin-left: 1rem;
}

.sidebar {
	background: var(--neutral-w);
	margin: 2rem;
	padding: 2rem 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 1rem;
	max-width: fit-content;
}

.options {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.option {
	padding: 1rem 3rem;
	border-radius: 0.3rem;
}

.option:hover,
.option:active,
.selected {
	color: var(--text-highlight);
	background-color: var(--overlay-1);
}

.btn {
	padding: 0.5rem 1rem;
	border-radius: 0.2rem;
	color: var(--neutral-w);
	background: var(--overlay-3);
}

.link {
	margin: 0 0.5rem;
	color: var(--overlay-3);
}
/* Page Specific */

/* Package Page */
.pkg-box {
	margin: 2rem;
	width: 100%;
}

.pkg {
	background: var(--neutral-w);
	margin-bottom: 1rem;
	padding: 1rem;
	position: relative;
	border-radius: 1rem;
}

.new-box {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-sub1);
	background: var(--overlay-2);
	border-radius: 1rem;
}

.new-btn {
	background: var(--overlay-1);
	color: var(--text-sub1);
	padding: 0.2rem 0.8rem;
	font-size: 1.5rem;
	border-radius: 0.5rem;
	margin: 1rem;
}

.pkg-test {
	background: #dadbe1;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0.5rem 1.2rem;
	border-radius: 0 0 1rem 0;
	color: var(--text-sub2);
}

.dot {
	height: 10px;
	width: 10px;
	background-color: #bbb;
	border-radius: 100%;
	display: inline-block;
	margin-left: 0.5rem;
}

.yellow {
	background: yellow;
}

.green {
	background: green;
}

.red {
	background: red;
}

.grey {
	color: gray;
}

/* Test Page */

.editor {
	max-height: 20rem;
	max-width: 80%;
}

/* New Function Page */
.input-text,
.input-select {
	font-family: 'Nunito';
	background: var(--bg);
	color: var(--text-highlight);
	outline: 0;
	border: 0;
	font-size: larger;
	width: 40rem;
	border-bottom: solid 1px var(--overlay-3);
	caret-color: var(--overlay-3);
	padding: 0.2rem;
}

.input-textarea {
	font-size: medium;
}

.empty {
	width: 100%;
}

/* Function Details Page */
.details {
	display: flex;
}

.ftndet {
	flex: 1;
}

.ftnschema {
	flex: 3;
	font-size: 0.75rem;
}

.col-btn {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
}

.col-con {
	padding: 0.5rem;
}

.status {
	width: 100%;
	padding: 0.5rem;
	font-weight: 400;
}
/* Jobs Page */

.table {
	table-layout: fixed;
}

.pagination {
	display: flex;
	float: right;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	margin-top: 1rem;
}

.pagination > * + * {
	margin-left: 0.5rem;
}

.table-r {
	cursor: pointer;
}

.table-h,
.table-d {
	padding: 0.5rem 1rem;
	text-align: center;
}

.table-h {
	font-weight: 600;
}

/* Utility Classes */
.bold {
	font-weight: 700;
}

.s-bold {
	font-weight: 600;
}

.thin {
	font-weight: 200;
}

.light {
	color: var(--text-sub1);
}

.dim {
	color: var(--text-sub2);
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.center-tb {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.center-lr {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.spaced-l > * + * {
	margin-left: 1rem;
}

.spaced-t > * + * {
	margin-top: 1rem;
}

.scrollable {
	overflow-y: auto;
	max-height: 50vh;
}

.rounded {
	border-radius: 1rem;
}

/* CSS Loader */
.lds-ripple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ripple div {
	position: absolute;
	border: 4px solid var(--overlay-3);
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}
